In [1]:
import pandas as pd

In [2]:
flight_route_info = pd.read_csv('../data/flight_route_info.csv',encoding='cp949')

In [4]:
flight_route_info

,노선명,항공사,출발지,출발국,도착지,도착국,검수,2016.6,2018.5,상태,...,운송량_여름 총합,운송량_2016.9,운송량_2016.10,운송량_2016.11,운송량_2017.9,운송량_2017.10,운송량_2017.11,운송량_2016가을,운송량_2017가을,운송량_가을 총합
0,7J105,Tajik Air,DYU,TJK,IKA,IRI,O,O,O,완료,...,4258,842,985,596,746,597,448,2423,1791,4214
1,7J117,Tajik Air,DYU,TJK,DEL,IND,O,O,O,완료,...,3440,794,815,990,224,0,0,2599,224,2823
2,7J4801,Tajik Air,DYU,TJK,SVX,RUS,O,O,O,완료,...,3949,970,896,596,745,448,448,2462,1641,4103
3,7J4805,Tajik Air,DYU,TJK,SGC,RUS,O,O,O,완료,...,0,0,0,298,0,0,0,298,0,298
4,7J4849,Tajik Air,DYU,TJK,FRU,KGZ,O,O,O,완료,...,3604,767,788,596,298,0,0,2151,298,2449
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
672,ZM559,Air Manas,FRU,KGZ,DME,RUS,O,O,O,완료,...,15498,2457,2646,3192,2457,2268,0,8295,4725,13020
673,ZM561,Air Manas,FRU,KGZ,DME,RUS,O,O,O,완료,...,15498,2268,2457,1701,3024,3402,4725,6426,11151,17577
674,ZM5610,Air Manas,FRU,KGZ,DME,RUS,O,O,O,완료,...,0,0,0,0,0,0,0,0,0,0
675,ZM641,Air Manas,FRU,KGZ,DME,RUS,O,O,O,완료,...,567,1512,1512,1701,0,0,0,4725,0,4725
676,ZM809,Air Manas,FRU,KGZ,KHG,CHN,O,O,O,완료,...,0,756,1701,1512,0,0,0,3969,0,3969

In [5]:
# 열중에 특정값이 있는 열을 filter함수의 like 인자를 통해 필터링
flight_route_info.filter(like='2016.6').head()

  2016.6  운항_2016.6  운송량_2016.6
0      O          4         692
1      O          4         692
2      O          4         596
3      O          0           0
4      O          5         985

In [ ]:
flight_route_info.filter(like='2016.6').head()